<div class="px-4 pt-5 my-5 text-center">
  <h1 class="display-4 fw-bold">არ შემოიხედო გენაცვალე</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">შეუკვეთე ჩვენთან იაფად და მიიღეთ უგემრიელესი საკვები სწრაფად ჯერ კიდევ ცხელი, არა ჩაცომებული არა გაყინული, მოაქვთ პროფესიონალ კურიერებს 5 წლის სტაჟით 0 ავარია. </p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
      <button type="button" class="btn btn-primary btn-lg px-4 me-sm-3">შეუკვეთე ახლავე</button>
      <button type="button" class="btn btn-outline-secondary btn-lg px-4">არ შეუკვეთო ახლავე</button>
    </div>
  </div>


  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"
        aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner rounded border border-dark">
      <div class="carousel-item active">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
          preserveAspectRatio="xMidYMid slice" focusable="false">
          <rect width="100%" height="100%" fill="#777" />
        </svg>

        <div class="container">
          <div class="carousel-caption text-start">
            <br>
            <p>ჩვენთან გელით ჩვენი სამზარეულოს უგემრიელესი კერძები.</p>
            <p><a class="btn btn-lg btn-primary" href="#">დღევანდელი მენიუ</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
          preserveAspectRatio="xMidYMid slice" focusable="false">
          <rect width="100%" height="100%" fill="#777" />
        </svg>

        <div class="container">
          <div class="carousel-caption">
            <p>არ გამოტოვოთ დღის ფასდაკლებები.</p>
            <p><a class="btn btn-lg btn-primary" href="#">შეთავაზებები</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
          preserveAspectRatio="xMidYMid slice" focusable="false">
          <rect width="100%" height="100%" fill="#777" />
        </svg>

        <div class="container">
          <div class="carousel-caption text-end">
            <p>გვაქვს მრავალფეროვანი მენიუ, ყველა გემოვნებისთვის.</p>
            <p><a class="btn btn-lg btn-primary" href="#">ვეგანებისთვის</a></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">წინა</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">შემდეგი</span>
    </button>
  </div>
</div>