<div class="container marketing">
  <div class="row">
    <div class="col-lg-4 text-center">
      <svg class="bd-placeholder-img rounded-circle" width="140" height="140"
        role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
      </svg>

      <h2 class="fw-normal text-center">ვაკანსია</h2>
      <p>გვესაჭიროება: კურიერი, მზარეული, მიმტანი, დამლაგებელი მოკლედ ყველა.
        <br>
        ანაზღაურება 200 ლარი ბონუსებით
      </p>

    </div>
    <div class="col-lg-4 text-center">
      <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
        role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
      </svg>

      <h2 class="fw-normal text-center">მომმარაგებელი</h2>
      <p>შპს სოფელი "ანი"</p>

    </div>
    <div class="col-lg-4 text-center">
      <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
        role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
      </svg>

      <h2 class="fw-normal">ლოკაცია</h2>
      <button><iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d2976.4074174884886!2d44.831874076556936!3d41.75487297311966!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zNDHCsDQ1JzE3LjUiTiA0NMKwNTAnMDQuMCJF!5e0!3m2!1sen!2sge!4v1716216479883!5m2!1sen!2sge" width="200" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></button>

    </div>
  </div>
</div>